$breakpoints: (
  1103px: 60vh,
  968px: 65vh,
  949px: 70vh,
  913px: 75vh,
  899px: 86vh,
  817px: 90vh,
  767px: 75vh,
  682px: 80vh,
  565px: 90vh,
);

.banner {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  --banner-height: 49.5vh;
}

@media (min-width: 768px) {
  .banner {
    flex-direction: row;
  }
}

.banner::before {
  content: "";
  position: absolute;
  top: 31vh;
  left: 19.3vw;
  height: var(--banner-height);
  width: 61.5vw;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transition: 0.5s ease-in-out;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.banner::after {
  content: "";
  position: absolute;
  top: 31vh;
  left: 19.3vw;
  height: var(--banner-height);

  width: 61.5vw;
  border-right: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transition: 0.5s ease-in-out;
  transform-origin: top;
  transform: scaleY(0);
  z-index: -1;
}
.banner:hover::after {
  transition: 2s ease-in-out;
  transform-origin: top;
  transform: scaleY(1);
}
.banner:hover::before {
  transition: 2s ease-in-out;
  transform-origin: center;
  transform: scaleX(1);
}

// @media (max-width: 1103px) {
//   .banner {
//     --banner-height: 60vh;
//   }
// }

// @media (max-width: 968px) {
//   .banner {
//     --banner-height: 65vh;
//   }
// }

// @media (max-width: 765px) {
//   .banner {
//     --banner-height: 75vh;
//   }
// }

// @media (max-width: 682px) {
//   .banner {
//     --banner-height: 80vh;
//   }
// }

// @media (max-width: 565px) {
//   .banner {
//     --banner-height: 90vh;
//   }
// }
.banner {
  @each $bp, $h in $breakpoints {
    @media (max-width: $bp) {
      &::before,
      &::after {
        height: $h;
      }
    }
  }
}
