$breakpoints: (
  1103px: 60vh,
  968px: 65vh,
  949px: 70vh,
  913px: 75vh,
  899px: 60vh,
  817px: 60vh,
  767px: 70vh,
  682px: 70vh,
  565px: 80vh,
);
$breakpointsWidth: (
  1103px: 60vw,
  968px: 65vw,
  949px: 70vw,
  913px: 75vw,
  899px: 92vw,
  817px: 92vw,
  767px: 90vw,
  682px: 90vw,
  565px: 90vw,
);
$breakpointsPosition: (
  899px: 5vw,
  817px: 5vw,
  767px: 5vw,
  682px: 5vw,
  565px: 5vw,
);

@mixin glassEffect {
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@mixin glassEffectBefore {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  opacity: 0.5;
  transition: left 0.8s ease;
}

.banner {
  display: flex;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  --banner-height: 49.5vh;
}

@media (max-width: 768px) {
  .banner {
    width: 100%;
    flex-direction: column;
  }
}

.banner::before {
  content: "";
  position: absolute;
  top: 31vh;
  left: 19.3vw;
  height: var(--banner-height);
  width: 61.5vw;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transition: 0.5s ease-in-out;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.banner::after {
  content: "";
  position: absolute;
  top: 31vh;
  left: 19.3vw;
  height: var(--banner-height);
  @include glassEffect;

  width: 61.5vw;
  border-right: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transition: 0.5s ease-in-out;
  transform-origin: top;
  transform: scaleY(0);
  z-index: -1;
}
.banner:hover::after {
  transition: 2s ease-in-out;
  transform-origin: top;
  transform: scaleY(1);
}
.banner:hover::before {
  transition: 2s ease-in-out;
  transform-origin: center;
  transform: scaleX(1);
}

.banner {
  @each $bp, $h in $breakpoints {
    @media (max-width: $bp) {
      &::before,
      &::after {
        height: $h;
      }
    }
  }
  @each $bp, $w in $breakpointsWidth {
    @media (max-width: $bp) {
      &::before,
      &::after {
        width: $w;
      }
    }
  }
  @each $bp, $p in $breakpointsPosition {
    @media (max-width: $bp) {
      &::before,
      &::after {
        left: $p;
      }
    }
  }
}
